{% extends 'base.html' %}
{% block title %}About Us | Glitz Day Planner{% endblock title %}
{% block body %}
<div class='container'>
    <div class="row">
        <div class="col-md-5">
            <h1 style="font-family:'Courier New', Courier, monospace;font-size: 2em;text-transform: uppercase;">About Us</h1>
            <hr>
                </div>
                <div class="col-md-1"></div>
        <div class="col-md-6 mt-5">

            <img src="https://aathifrupay.com/Content/HomeContentV2/images/about-us.png" class="img-fluid "/>
        </div>
    </div>
</div>

{% endblock body %}