{% extends 'base.html' %}
{% block title %}About Us | Glitz Day Planner{% endblock title %}
{% block body %}
<div class='container'>
    <div class="row">
        <div class="col-md-5">
            <h1 style="font-family:'Courier New', Courier, monospace;font-size: 2.3em;">About Us</h1>
            <hr><br>
            <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                Glitz Day Planner is all about you. We help you to remember your tasks. Helps you to keep you posted everyday.
            </p>
            <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                Just let us know what you want to do today and we will help you to do that.</p>
                <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                We will help you organise your activities everyday so that you can be more manageable and make you feel much grounded.</p>
                <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                Keep Calm and Stay Focused. We will help you to stay Focused.

            </p>
            <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                Contact Details:
            </p>
            <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                JOSE C S</P>
                <p style="font-family: 'Sanchez - Regular 400';font-size: 1em;">
                Ph:7012048527</p>
            
                </div>
                <div class="col-md-1"></div>
        <div class="col-md-6 mt-5">

            <img src="https://aathifrupay.com/Content/HomeContentV2/images/about-us.png" class="img-fluid "/>
        </div>
    </div>
</div>

{% endblock body %}